In [14]:
import pandas as pd
pd.__version__

'1.3.5'

In [20]:
data=pd.read_excel('data1.xlsx')

In [21]:
df=pd.DataFrame(data)

In [25]:
df

             Date     Close      Open      High       Low
0    Nov 26, 2021  36157.80  37055.25  37093.75  36025.05
1    Nov 25, 2021  37364.75  37324.00  37538.70  37115.00
2    Nov 24, 2021  37465.00  37401.00  37895.50  37239.45
3    Nov 23, 2021  37284.30  36921.65  37474.95  36682.00
4    Nov 22, 2021  37182.10  38199.90  38214.10  36680.05
..            ...       ...       ...       ...       ...
511  Nov 07, 2019  30664.35  30801.00  30848.95  30463.00
512  Nov 06, 2019  30682.60  30260.30  30780.00  30052.00
513  Nov 05, 2019  30294.15  30420.05  30519.90  30155.10
514  Nov 04, 2019  30396.05  30457.95  30658.00  30267.00
515  Nov 01, 2019  30374.10  30200.05  30449.45  30063.10

[516 rows x 5 columns]

In [40]:
print("1. Make a average which has last 21 days close price\n\n")
a=df.tail(21)
Sum_of_last21=sum(a['Close'])
print("Average of last 21 days close price:",Sum_of_last21/21)

1. Make a average which has last 21 days close price


Average of last 21 days close price: 31135.440476190477

In [48]:
print("2. Make a average which has last 50 days close price\n\n")
b=df.tail(50)
Sum_of_last50=sum(b['Close'])
print("Average of last 50 days close price:",Sum_of_last50/50)

2. Make a average which has last 50 days close price


Average of last 50 days close price: 31634.236000000004

In [53]:
print("3. Give a data set which has all the open=high values.\n\n")
print("A data set which has all the open=high values is as follows:")
z=df[df['Open']==df['High']]
z.to_excel('OPen_high.xlsx')
print(df[df['Open']==df['High']])

3. Give a data set which has all the open=high values.


A data set which has all the open=high values is as follows:
             Date     Close      Open      High       Low
10   Nov 11, 2021  38686.10  39044.00  39044.00  38442.95
65   Aug 23, 2021  35159.20  35401.00  35401.00  34850.00
175  Mar 10, 2021  36007.75  36244.00  36244.00  35816.00
196  Feb 09, 2021  36045.95  36580.00  36580.00  35639.00
216  Jan 11, 2021  32096.25  32480.00  32480.00  31888.00
356  Jun 24, 2020  21400.60  22494.85  22494.85  21300.30
392  May 04, 2020  19632.75  20600.00  20600.00  19505.00
409  Apr 03, 2020  17175.80  18226.10  18226.10  17075.00
433  Feb 27, 2020  30187.00  30265.00  30265.00  29951.15
453  Jan 30, 2020  30647.40  31280.00  31280.00  30513.45
461  Jan 20, 2020  31181.85  31997.65  31997.65  31126.10
494  Dec 03, 2019  31711.20  31949.90  31949.90  31580.60

In [54]:
print("4. Give a data set which has all the open=low values.\n\n")
print("A data set which has all the open=Low values is as follows:")
y=df[df['Open']==df['High']]
y.to_excel('OPen_close.xlsx')
print(df[df['Open']==df['Low']])

4. Give a data set which has all the open=low values.


A data set which has all the open=Low values is as follows:
             Date     Close      Open      High       Low
9    Nov 12, 2021  38871.35  38171.05  38948.95  38171.05
36   Oct 04, 2021  37735.25  37445.00  37785.00  37445.00
57   Sep 02, 2021  36969.25  36511.00  37033.85  36511.00
97   Jul 06, 2021  35677.40  35273.95  35925.00  35273.95
222  Jan 01, 2021  31309.35  31250.00  31425.00  31250.00
226  Dec 28, 2020  30928.30  30552.05  30975.40  30552.05
241  Dec 04, 2020  30190.95  29350.00  30276.95  29350.00
267  Oct 28, 2020  24214.25  23698.00  24795.00  23698.00
322  Aug 11, 2020  22296.35  21900.00  22345.00  21900.00
339  Jul 17, 2020  21971.10  21459.45  22081.00  21459.45
364  Jun 12, 2020  20624.50  19555.00  20728.00  19555.00
396  Apr 27, 2020  20107.10  19690.00  20240.00  19690.00
497  Nov 28, 2019  32122.95  31874.25  32143.30  31874.25